@import '../../App.scss';

.social {
    @include flexbox-left;
    &-item {
        margin: 1rem;
        color: $primary-color;
        &>a {
            color: $link-color;
        }
        &>a:hover {
            color: $primary-color;
        }
    }
}

@media screen and (max-width: 850px) {
    .social {
        @include flexbox-center;
        &-item {
            margin: 4px;
            color: $secondary-color;
            &>a {
                color: $secondary-color;
            }
            &>a:hover {
                color: $secondary-color;
            }
        }
    }
}