@import "../../App.scss";

.index-header {
  .logo {
    height: 75px;
    @include flexbox-center;
    background-color: $primary-color;
  }
}

.projects-header {
  .logo {
    height: 75px;
    @include flexbox-center;
    background-color: $primary-color;
  }
}
